<div class="mt-20 mx-2">
    <div class="flex flex-col-reverse lg:flex-row gap-4 h-[500px]">
        <div class="lg:w-[30%] flex lg:flex-col gap-4 overflow-hidden">
            <div class="relative flex-1 lg:h-[50%] rounded-lg overflow-hidden group">
                <img class="w-full h-full object-center transition-transform duration-300 group-hover:scale-105"
                src="./images/smart-agriculture.png" alt="smart agriculture" />
                <div class="absolute inset-0 bg-black/10 transition-all duration-300 group-hover:bg-black/30"></div>
            </div>
            <div class="relative flex-1 lg:h-[50%] rounded-lg overflow-hidden group">
                <img class="w-full h-full object-center transition-transform duration-300 group-hover:scale-105"
                src="./images/food-crops.png" alt="food crops" />
                <div class="absolute inset-0 bg-black/25 transition-all duration-300 group-hover:bg-black/40"></div>
            </div>
        </div>
        <div class="lg:w-[70%] rounded-lg overflow-hidden">
            <app-main-slider></app-main-slider>
        </div>
    </div>
</div>