
<owl-carousel-o [options]="customOptions" class="custom-carousel">
    <ng-template carouselSlide>
        <img src="./images/sustainable-farming.png" class="w-full object-cover " alt="sustainable farming">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./images/harvest-process.png" class="w-full object-cover " alt="harvest process">
    </ng-template>
    <ng-template carouselSlide>
        <img src="./images/farm-overview.png" class="w-full object-cover " alt="farm overview">
    </ng-template>
    <ng-template carouselSlide class="relative">
        <img src="./images/agriculture-hero.png" class="w-full object-cover " alt="agriculture hero">
        <div class="absolute inset-0 bg-black/20"></div>
    </ng-template>
    <ng-template carouselSlide class="relative">
        <img src="./images/women-in-agriculture.png" class="w-full object-cover " alt="women in agriculture">
        <div class="absolute inset-0 bg-black/20"></div>
    </ng-template>
</owl-carousel-o>