@if (!isLoading()) {
<div class="min-h-screen">
    <div class="max-w-4xl mx-auto mb-3 flex items-center gap-2 text-xs text-gray-400">
        <span routerLink="/users/dashboard" class="cursor-pointer hover:text-gray-600">Dashboard</span>
        <span class="text-gray-300">/</span>
        <span class="text-gray-500 font-medium">My Profile</span>
    </div>

    <div
        class="hidden max-w-3xl mx-auto bg-white border border-gray-100 border-b-3 border-b-emerald-500 border-t-3 border-t-emerald-500 rounded-2xl px-6 py-5 mb-5 md:flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 shadow-sm">

        <div class=" flex items-center gap-4">
            <div class="w-11 h-11 rounded-xl bg-emerald-50 flex items-center justify-center shrink-0">
                <i class="fa-regular fa-user text-emerald-500"></i>
            </div>
            <div>
                <h1 class="text-2xl text-gray-900 leading-tight font-['Namdhinggo'!important] font-bold">Personal
                    Information</h1>

                <p class="text-sm text-gray-400 mt-0.5">View your personal information</p>
                <span
                    class="inline-flex items-center gap-1.5 mt-1.5 text-xs font-medium text-green-700 bg-green-50 px-2.5 py-0.5 rounded-full">
                    <span class="w-1.5 h-1.5 rounded-full bg-green-500"></span>
                    Profile complete
                </span>
            </div>
        </div>

        <div class="flex items-center gap-2 sm:shrink-0">
            <button routerLink="edit-profile"
                class="inline-flex items-center gap-2 px-4 py-2 rounded-lg text-sm font-medium cursor-pointer text-white bg-emerald-500 hover:bg-emerald-600 transition-all focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 active:scale-95">
                <i class="fa-regular fa-pen-to-square"></i>
                Edit Profile
            </button>
        </div>

    </div>

    <div
        class="max-w-3xl mx-auto bg-white rounded-2xl border-b-3 border-b-emerald-500 shadow-sm border border-gray-100 overflow-hidden">

        <div class="relative h-32 bg-linear-to-r from-emerald-500 to-emerald-600">
            <div
                class="absolute inset-0 pointer-events-none bg-[linear-gradient(rgba(193,236,212,0.07)_1px,transparent_1px),linear-gradient(90deg,rgba(193,236,212,0.07)_1px,transparent_1px)] bg-size-[40px_40px]">
            </div>
        </div>

        <div class="px-6 sm:px-8 pb-6 relative">
            <div class="sm:flex sm:items-end sm:justify-between">
                <div class="sm:flex sm:items-end sm:space-x-5">
                    <div class="relative -mt-12 sm:-mt-16">
                        <div class="w-24 h-24 sm:w-32 sm:h-32 rounded-full bg-white p-1.5 shadow-sm">
                            <div
                                class="w-full h-full rounded-full bg-emerald-100 flex items-center justify-center text-emerald-600 text-3xl sm:text-4xl font-bold select-none">
                                {{ profile()?.name?.charAt(0) }}
                                @if(!profile()?.name){
                                <i class="fa-solid fa-user"></i>
                                }
                            </div>
                        </div>
                        <span
                            class="absolute bottom-3 right-3 sm:bottom-4 sm:right-4 w-4 h-4 bg-green-500 border-2 border-white rounded-full"
                            title="Online"></span>
                    </div>

                    <div class="mt-4 sm:mt-0 sm:pb-2">
                        <h2 class="text-2xl font-bold capitalize text-gray-900 leading-tight">{{profile()?.name || 'your
                            name'}}</h2>
                        <div class="flex items-center gap-2 mt-1">
                            <p class="text-sm font-medium text-gray-400">
                                <span class="text-gray-600 mr-0.5">@</span>
                                {{profile()?.userName}}
                            </p>
                            <i class="fa-solid fa-circle text-gray-500 text-[6px] ml-2 mr-0.5"></i>
                            <p class="text-sm text-gray-400">Customer</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5 sm:mt-0 sm:pb-2 flex flex-col sm:flex-row gap-3">
                    <button routerLink="edit-profile"
                        class="inline-flex justify-center items-center gap-2 px-4 py-2 cursor-pointer bg-emerald-500 hover:bg-emerald-600 border border-transparent rounded-lg text-sm font-medium text-white  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 active:scale-95 transition-all shadow-sm">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit Profile
                    </button>
                </div>
            </div>
        </div>

        <hr class="border-t border-gray-100">

        <div class="px-8 py-8">
            <h2 class="text-xs font-semibold text-gray-400 uppercase tracking-widest mb-5">Personal Information</h2>
            <dl class="divide-y divide-gray-100">
                <div class="flex flex-col sm:flex-row sm:items-center py-4 gap-1 sm:gap-0">
                    <dt class="text-sm text-gray-400 font-medium w-full sm:w-36 shrink-0">Full Name</dt>
                    <dd class="text-gray-900 font-medium text-sm sm:text-base">{{profile()?.name}}</dd>
                    @if (!profile()?.name) {
                    <dd class="text-red-500 font-medium text-sm ">Name not provided</dd>
                    }
                </div>

                <div class="flex flex-col sm:flex-row sm:items-center py-4 gap-1 sm:gap-0">
                    <dt class="text-sm text-gray-400 font-medium w-full sm:w-36 shrink-0">Username</dt>
                    <dd class="text-gray-900 font-medium text-sm sm:text-base">
                        <span
                            class="inline-flex items-center gap-1 bg-emerald-50 text-emerald-700 px-2.5 py-0.5 rounded-md text-sm font-medium">
                            {{profile()?.userName}}
                        </span>
                    </dd>
                    @if (!profile()?.userName) {
                    <dd class="text-red-500 font-medium text-sm ">Username not provided</dd>
                    }
                </div>

                <div class="flex flex-col sm:flex-row sm:items-center py-4 gap-1 sm:gap-0">
                    <dt class="text-sm text-gray-400 font-medium w-full sm:w-36 shrink-0">Email Address</dt>
                    <dd class="text-gray-900 font-medium text-sm sm:text-base">{{profile()?.email}}</dd>
                    @if (!profile()?.email) {
                    <dd class="text-red-500 font-medium text-sm ">Email not provided</dd>
                    }
                </div>

                <div class="flex flex-col sm:flex-row sm:items-center py-4 gap-1 sm:gap-0">
                    <dt class="text-sm text-gray-400 font-medium w-full sm:w-36 shrink-0">Phone Number</dt>
                    <dd class="text-gray-900 font-medium text-sm sm:text-base">{{profile()?.phoneNumber}}</dd>
                    @if (!profile()?.phoneNumber) {
                    <dd class="text-red-500 font-medium text-sm ">Phone Number not provided</dd>
                    }
                </div>

                <div class="flex flex-col sm:flex-row sm:items-start py-4 gap-1 sm:gap-0">
                    <dt class="text-sm text-gray-400 font-medium w-full sm:w-36 shrink-0 sm:pt-0.5">Address</dt>
                    <dd class="text-gray-900 font-medium text-sm sm:text-base leading-relaxed">
                        {{profile()?.address}}
                    </dd>
                    @if (!profile()?.address) {
                    <dd class="text-red-500 font-medium text-sm ">Address not provided</dd>
                    }
                </div>

            </dl>
        </div>

        <div class="border-t border-gray-100 mx-8"></div>

        <div class="px-8 py-6 flex flex-col sm:flex-row sm:justify-end gap-3">
            <button routerLink="change-password"
                class="w-full sm:w-auto inline-flex items-center justify-center gap-2 px-6 py-2.5 cursor-pointer rounded-lg text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 active:scale-95 transition-all shadow-sm">
                <i class="fa-solid fa-unlock"></i>
                Change Password
            </button>
            <button routerLink="edit-profile"
                class="w-full sm:w-auto inline-flex items-center justify-center gap-2 px-6 py-2.5 cursor-pointer rounded-lg text-sm font-medium text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 active:scale-95 transition-all shadow-sm">
                <i class="fa-regular fa-pen-to-square"></i>
                Edit Profile
            </button>
        </div>

    </div>

    <p class="text-center text-xs text-gray-400 mt-6">All information is private and visible only to you.</p>
</div>
}
@else {
<app-profile-data-skeleton></app-profile-data-skeleton>
}