<div class="relative bg-linear-to-r from-emerald-500 to-teal-500 rounded-3xl p-8 lg:p-12 text-white shadow-2xl">
    <h1 class="text-3xl lg:text-5xl font-extrabold mb-4">Welcome back, Gamal!</h1>
    <p class="text-lg lg:text-xl opacity-90 mb-8 max-w-3xl">
        Ready to check your plants today? let's see what's new.
    </p>
    <button routerLink="/users/diagnosis"
        class="px-8 py-5 bg-white text-emerald-700 font-bold text-lg rounded-2xl hover:bg-gray-50 transition transform hover:scale-105 shadow-xl flex items-center gap-3 hover:cursor-pointer">
        <i class="fa-solid fa-camera text-xl"></i>
        Start New Diagnosis
    </button>

    <div
        class="absolute -top-5 -right-3 md:top-10 md:right-5 flex items-center gap-3 bg-white px-4 py-2 rounded-2xl border border-slate-200 shadow-sm">
        <span class="flex h-3 w-3 relative">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-emerald-500"></span>
        </span>
        <span class="text-sm font-bold text-slate-600">AI Engine: <span
                class="text-emerald-600 font-black tracking-widest uppercase text-[10px] ml-1">Optimized</span></span>
    </div>
</div>