@keyframes pulse-slow {

    0%,
    100% {
        opacity: 0.08;
        transform: scale(1);
    }

    50% {
        opacity: 0.25;
        transform: scale(1.08);
    }
}

.animate-pulse-slow {
    animation: pulse-slow 12s ease-in-out infinite;
}

.delay-1000 {
    animation-delay: 1s;
}

.animate-bounce-slow {
    animation: bounce 3s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}