@if (!isFetchingProfile()) {
<div class="max-w-4xl mx-auto mb-3 flex items-center gap-2 text-xs text-gray-400">
    <span routerLink="/users/dashboard" class="cursor-pointer hover:text-gray-600">Dashboard</span>
    <span class="text-gray-300">/</span>
    <span routerLink="/users/profile" class="cursor-pointer hover:text-gray-600">My Profile</span>
    <span class="text-gray-300">/</span>
    <span class="text-gray-500 font-medium">Edit Profile</span>
</div>

<div
    class="max-w-3xl mx-auto bg-white rounded-2xl shadow-sm border border-gray-100 border-b-3 border-b-emerald-500 overflow-hidden">


    <div class="relative h-32 bg-linear-to-r from-emerald-500 to-emerald-600">
        <div
            class="absolute inset-0 pointer-events-none bg-[linear-gradient(rgba(193,236,212,0.07)_1px,transparent_1px),linear-gradient(90deg,rgba(193,236,212,0.07)_1px,transparent_1px)] bg-size-[40px_40px]">
        </div>
    </div>

    <div class="px-6 sm:px-8 pb-6 relative">
        <div class="sm:flex sm:items-end sm:justify-between">

            <div class="sm:flex sm:items-end sm:space-x-5">
                <div class="relative -mt-12 sm:-mt-16">
                    <div class="w-24 h-24 sm:w-32 sm:h-32 rounded-full bg-white p-1.5 shadow-sm">
                        <div
                            class="w-full h-full rounded-full bg-emerald-100 flex items-center justify-center text-emerald-600 text-3xl sm:text-4xl font-bold select-none">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>
                    <span
                        class="absolute bottom-3 right-3 sm:bottom-4 sm:right-4 w-4 h-4 bg-green-500 border-2 border-white rounded-full"
                        title="Online"></span>
                </div>

                <div class="mt-4 sm:mt-0 sm:pb-2">
                    <h2 class="text-2xl font-bold capitalize text-gray-900 leading-tight">Edit your profile</h2>
                </div>
            </div>
        </div>
    </div>

    <hr class="border-t border-gray-100">

    <!-- Profile Fields -->
    <div class="px-8 py-8">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate class="flex flex-col gap-2.5 sm:gap-5">

            <!-- Name -->
            <div class="input-group group relative w-full">
                <i class="fa-regular fa-user absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['name'].dirty),
                                'text-red-400': f['name'].invalid && f['name'].touched,
                                'text-[#05cd99]': f['name'].valid
                                }"></i>
                <input formControlName="name" type="text" id="name" name="name" placeholder=" "
                    class="peer w-full py-3.5 pl-11 pr-4 rounded-xl text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['name'].touched),
                                'border-slate-100': !(f['name'].touched),
                                'focus:border-2': !(f['name'].touched),
                                'focus:border-[#05cd99]': !(f['name'].touched),
                                'border-2': (f['name'].invalid && f['name'].touched) || f['name'].valid ,
                                'border-red-400': f['name'].invalid && f['name'].touched,
                                'bg-red-50': f['name'].invalid && f['name'].touched,
                                'focus:ring-red-100': f['name'].invalid && f['name'].touched,
                                'border-[#05cd99]': f['name'].valid,
                                'bg-emerald-50': f['name'].valid
                                }">
                <label for="name"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    Full Name
                </label>
                @if (f['name'].touched && f['name'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Full name is required</span>
                }
                @if (f['name'].touched && f['name'].errors?.['minlength']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">At least 3 characters</span>
                }
            </div>

            <!-- Email -->
            <div class="input-group group relative w-full mt-1">
                <i class="fa-solid fa-envelope absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['email'].dirty),
                                'text-red-400': f['email'].invalid && f['email'].touched,
                                'text-[#05cd99]': f['email'].valid
                                }"></i>
                <input formControlName="email" type="text" id="email" name="email" placeholder=""
                    class="peer w-full py-3.5 pl-11 pr-24 rounded-xl text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['email'].touched),
                                'border-slate-100': !(f['email'].touched),
                                'focus:border-2': !(f['email'].touched),
                                'focus:border-[#05cd99]': !(f['email'].touched),
                                'border-2': (f['email'].invalid && f['email'].touched) || f['email'].valid ,
                                'border-red-400': f['email'].invalid && f['email'].touched,
                                'bg-red-50': f['email'].invalid && f['email'].touched,
                                'focus:ring-red-100': f['email'].invalid && f['email'].touched,
                                'border-[#05cd99]': f['email'].valid,
                                'bg-emerald-50': f['email'].valid
                                }">
                <label for="email"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    Email Address</label>
                @if (f['email'].touched && f['email'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Email is required</span>
                }
                @if (f['email'].touched && f['email'].errors?.['email']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Enter a valid email address</span>
                }
            </div>

            <!-- user name -->
            <div class="input-group group relative w-full mt-1">
                <i class="fa-solid fa-at absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['userName'].dirty),
                                'text-red-400': (f['userName'].invalid && f['userName'].touched),
                                'text-[#05cd99]': f['userName'].valid
                                }"></i>
                <input formControlName="userName" type="text" id="userName" name="userName" placeholder=""
                    class="peer w-full py-3.5 pl-11 pr-24 rounded-xl text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['userName'].touched),
                                'border-slate-100': !(f['userName'].touched),
                                'focus:border-2': !(f['userName'].touched),
                                'focus:border-[#05cd99]': !(f['userName'].touched),
                                'border-2': (f['userName'].invalid && f['userName'].touched) || f['userName'].valid ,
                                'border-red-400': (f['userName'].invalid && f['userName'].touched),
                                'bg-red-50': (f['userName'].invalid && f['userName'].touched),
                                'focus:ring-red-100': f['userName'].invalid && f['userName'].touched,
                                'border-[#05cd99]': f['userName'].valid,
                                'bg-emerald-50': f['userName'].valid
                                }">
                <label for="userName"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    Username</label>
                @if (f['userName'].touched && f['userName'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Username is required</span>
                }
                @if (f['userName'].touched && f['userName'].errors?.['minlength']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">At least 3 characters</span>
                }
                @if (f['userName'].touched && f['userName'].errors?.['pattern']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Only letters, numbers, and
                    underscores</span>
                }
            </div>

            <!--Phone Number -->
            <div class="input-group group relative w-full">
                <i class="fa-solid fa-phone-volume absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['phoneNumber'].dirty),
                                'text-red-400': f['phoneNumber'].invalid && f['phoneNumber'].touched,
                                'text-[#05cd99]': f['phoneNumber'].valid
                                }"></i>
                <input formControlName="phoneNumber" type="text" id="phoneNumber" name="phoneNumber" placeholder=" "
                    class="peer w-full py-3.5 pl-11 pr-4 rounded-xl text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['phoneNumber'].touched),
                                'border-slate-100': !(f['phoneNumber'].touched),
                                'focus:border-2': !(f['phoneNumber'].touched),
                                'focus:border-[#05cd99]': !(f['phoneNumber'].touched),
                                'border-2': (f['phoneNumber'].invalid && f['phoneNumber'].touched) || f['phoneNumber'].valid ,
                                'border-red-400': f['phoneNumber'].invalid && f['phoneNumber'].touched,
                                'bg-red-50': f['phoneNumber'].invalid && f['phoneNumber'].touched,
                                'focus:ring-red-100': f['phoneNumber'].invalid && f['phoneNumber'].touched,
                                'border-[#05cd99]': f['phoneNumber'].valid,
                                'bg-emerald-50': f['phoneNumber'].valid
                                }">
                <label for="phoneNumber"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    Phone Number
                </label>
                @if (f['phoneNumber'].touched && f['phoneNumber'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Phone Number is required</span>
                }
                @if (f['phoneNumber'].touched && f['phoneNumber'].errors?.['minlength']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">At least 5 characters</span>
                }
            </div>

            <!-- Old oldPassword -->
            <div class="input-group group relative w-full mt-1">
                <i class="fa-solid fa-lock absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['oldPassword'].dirty),
                                'text-red-400': f['oldPassword'].invalid && f['oldPassword'].touched,
                                'text-[#05cd99]': f['oldPassword'].valid
                                }"></i>
                <input formControlName="oldPassword" [type]="showOldPassword() ? 'text' : 'password'" id="oldPassword"
                    name="oldPassword" placeholder=" "
                    class="peer w-full py-3.5 pl-11 pr-24 rounded-xl  text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['oldPassword'].touched),
                                'border-slate-100': !(f['oldPassword'].touched),
                                'focus:border-2': !(f['oldPassword'].touched),
                                'focus:border-[#05cd99]': !(f['oldPassword'].touched),
                                'border-2': (f['oldPassword'].invalid && f['oldPassword'].touched) || f['oldPassword'].valid ,
                                'border-red-400': f['oldPassword'].invalid && f['oldPassword'].touched,
                                'bg-red-50': f['oldPassword'].invalid && f['oldPassword'].touched,
                                'focus:ring-red-100': f['oldPassword'].invalid && f['oldPassword'].touched,
                                'border-[#05cd99]': f['oldPassword'].valid,
                                'bg-emerald-50': f['oldPassword'].valid
                                }">
                <label for="oldPassword"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    oldPassword </label>
                <i (mousedown)="$event.preventDefault()" (click)="toggleOldPassword(); $event.stopPropagation()"
                    class=" absolute right-4 top-4.5 text-[18px] text-[#a3aed1] cursor-pointer transition-colors duration-200 hover:text-[#05cd99]"
                    [class]="{
                        'fa-regular': !showOldPassword(),
                        'fa-eye': !showOldPassword(),
                        'fa-solid': showOldPassword(),
                        'fa-eye-low-vision': showOldPassword(),
                    }"></i>
                @if (f['oldPassword'].touched && f['oldPassword'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">oldPassword is required</span>
                }
            </div>

            <!-- new password -->
            <div class="input-group group relative w-full mt-1">
                <i class="fa-solid fa-lock absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['newPassword'].dirty),
                                'text-red-400': f['newPassword'].invalid && f['newPassword'].touched,
                                'text-[#05cd99]': f['newPassword'].valid
                                }"></i>
                <input formControlName="newPassword" [type]="showNewPassword() ? 'text' : 'password'" id="newPassword"
                    name="newPassword" placeholder=" "
                    class="peer w-full py-3.5 pl-11 pr-24 rounded-xl  text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['newPassword'].touched),
                                'border-slate-100': !(f['newPassword'].touched),
                                'focus:border-2': !(f['newPassword'].touched),
                                'focus:border-[#05cd99]': !(f['newPassword'].touched),
                                'border-2': (f['newPassword'].invalid && f['newPassword'].touched) || f['newPassword'].valid ,
                                'border-red-400': f['newPassword'].invalid && f['newPassword'].touched,
                                'bg-red-50': f['newPassword'].invalid && f['newPassword'].touched,
                                'focus:ring-red-100': f['newPassword'].invalid && f['newPassword'].touched,
                                'border-[#05cd99]': f['newPassword'].valid,
                                'bg-emerald-50': f['newPassword'].valid
                                }">
                <label for="newPassword"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    New Password </label>
                <i (mousedown)="$event.preventDefault()" (click)="toggleNewPassword(); $event.stopPropagation()"
                    class=" absolute right-4 top-4.5 text-[18px] text-[#a3aed1] cursor-pointer transition-colors duration-200 hover:text-[#05cd99]"
                    [class]="{
                        'fa-regular': !showNewPassword(),
                        'fa-eye': !showNewPassword(),
                        'fa-solid': showNewPassword(),
                        'fa-eye-low-vision': showNewPassword(),
                    }"></i>
                @if (f['newPassword'].touched && f['newPassword'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">newPassword is required</span>
                }
                @if (f['newPassword'].touched && f['newPassword'].errors?.['minlength']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">At least 8 characters</span>
                }
                @if (f['newPassword'].touched && f['newPassword'].errors?.['pattern']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Must include uppercase, lowercase, number
                    &amp; symbol</span>
                }
            </div>

            <!-- confirmNewPassword -->
            <div class="input-group group relative w-full mt-1">
                <i class="fa-solid fa-lock absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['confirmNewPassword'].dirty),
                                'text-red-400': f['confirmNewPassword'].invalid && f['confirmNewPassword'].touched,
                                'text-[#05cd99]': f['confirmNewPassword'].valid
                                }"></i>
                <input formControlName="confirmNewPassword" [type]="showConfirmNewPassword() ? 'text' : 'password'"
                    id="confirmNewPassword" name="confirmNewPassword" placeholder=" "
                    class="peer w-full py-3.5 pl-11 pr-24 rounded-xl text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['confirmNewPassword'].touched),
                                'border-slate-100': !(f['confirmNewPassword'].touched),
                                'focus:border-2': !(f['confirmNewPassword'].touched),
                                'focus:border-[#05cd99]': !(f['confirmNewPassword'].touched),
                                'border-2': (f['confirmNewPassword'].invalid && f['confirmNewPassword'].touched) || f['confirmNewPassword'].valid ,
                                'border-red-400': f['confirmNewPassword'].invalid && f['confirmNewPassword'].touched,
                                'bg-red-50': f['confirmNewPassword'].invalid && f['confirmNewPassword'].touched,
                                'focus:ring-red-100': f['confirmNewPassword'].invalid && f['confirmNewPassword'].touched,
                                'border-[#05cd99]': f['confirmNewPassword'].valid,
                                'bg-emerald-50': f['confirmNewPassword'].valid
                                }">
                <label for="confirmNewPassword"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    Confirm Password </label>
                <i (mousedown)="$event.preventDefault()" (click)="toggleConfirmNewPassword(); $event.stopPropagation()"
                    class="absolute right-4 top-4.5 text-[18px] text-[#a3aed1] cursor-pointer transition-colors duration-200 hover:text-[#05cd99]"
                    [class]="{
                        'fa-regular': !showConfirmNewPassword(),
                        'fa-eye': !showConfirmNewPassword(),
                        'fa-solid': showConfirmNewPassword(),
                        'fa-eye-low-vision': showConfirmNewPassword(),
                    }"></i>
                @if (f['confirmNewPassword'].touched && f['confirmNewPassword'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Please confirm your password</span>
                }
                @if (f['confirmNewPassword'].touched && f['confirmNewPassword'].errors?.['mismatch']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Passwords do not match</span>
                }
            </div>

            <!-- Address -->
            <div class="input-group group relative w-full">
                <i class="fa-solid fa-location-dot absolute left-4 top-4.5 text-[18px] pointer-events-none  " [class]="{
                                'text-[#a3aed1]':!(f['address'].dirty),
                                'text-red-400': f['address'].invalid && f['address'].touched,
                                'text-[#05cd99]': f['address'].valid
                                }"></i>
                <textarea formControlName="address" type="text" id="address" name="address" placeholder=" "
                    class="peer w-full py-3.5 pl-11 pr-4 rounded-xl text-[#2b3674] text-sm outline-none transition-all shadow-sm"
                    [class]="{
                                'border': !(f['address'].touched),
                                'border-slate-100': !(f['address'].touched),
                                'focus:border-2': !(f['address'].touched),
                                'focus:border-[#05cd99]': !(f['address'].touched),
                                'border-2': (f['address'].invalid && f['address'].touched) || f['address'].valid ,
                                'border-red-400': f['address'].invalid && f['address'].touched,
                                'bg-red-50': f['address'].invalid && f['address'].touched,
                                'focus:ring-red-100': f['address'].invalid && f['address'].touched,
                                'border-[#05cd99]': f['address'].valid,
                                'bg-emerald-50': f['address'].valid
                                }"></textarea>
                <label for="address"
                    class="absolute left-11 top-4.25  text-[#a3aed1] text-[14px] transition-all duration-300 pointer-events-none 
                            peer-focus:-top-2.5 peer-focus:left-3.5 peer-focus:text-[11px] peer-focus:bg-white peer-focus:py-0.5 peer-focus:px-2 
                            peer-focus:rounded-md peer-focus:text-[#05cd99] peer-focus:font-semibold peer-focus:shadow-sm peer-focus:tracking-[0.5px] peer-focus:shadow-label 
                            peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3.5 peer-[:not(:placeholder-shown)]:text-[11px] peer-[:not(:placeholder-shown)]:bg-white 
                            peer-[:not(:placeholder-shown)]:py-0.5 peer-[:not(:placeholder-shown)]:px-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:text-[#05cd99] peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:tracking-[0.5px] ">
                    Address
                </label>
                @if (f['address'].touched && f['address'].errors?.['required']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">Address is required</span>
                }
                @if (f['address'].touched && f['address'].errors?.['minlength']) {
                <span class="text-red-500 text-xs ml-3 shake inline-block">At least 5 characters</span>
                }
            </div>

            <div class="border-t border-gray-100 mx-8"></div>

            @if (!isLoading()) {
            <button type="submit"
                class="group relative w-full h-14 rounded-xl overflow-hidden bg-linear-to-r from-emerald-700 to-emerald-400 text-white cursor-pointer shadow-[0_8px_20px_-6px_rgba(16,185,129,0.4)] transition-all duration-300 hover:shadow-[0_12px_25px_-6px_rgba(5,150,105,0.6)] hover:-translate-y-1 active:translate-y-0">
                <div
                    class="absolute inset-0 w-full h-full bg-white/20 scale-x-0 group-hover:scale-x-100 transition-transform duration-500 origin-left">
                </div>
                <span
                    class="relative uppercase z-10 font-['Bebas_Neue'] tracking-[0.15em] text-md lg:text-xl font-medium">
                    update profile
                </span>
            </button>
            }@else {
            <button type="submit" disabled
                class="w-full h-14 rounded-xl bg-gray-300 text-gray-600 cursor-not-allowed opacity-80 flex items-center justify-center gap-3">
                <svg class="animate-spin h-6 w-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" />
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z" />
                </svg>
                <span class="font-['Bebas_Neue'] tracking-[0.25em] text-xl font-medium mt-1">PROCESSING...</span>
            </button>
            }
        </form>
    </div>


</div>
}
@else {
<app-profile-skeleton></app-profile-skeleton>
}

@if (successMessage() || errorMessage()) {
<app-toast [errorMessage]="errorMessage()!" [successMessage]="successMessage()!"></app-toast>
}