<div
    class="text-center py-20 bg-white/30 dark:bg-slate-800/20 backdrop-blur-xl rounded-[3rem] border-2 border-dashed border-slate-300 dark:border-slate-700">
    <div
        class="w-20 h-20 bg-emerald-100 dark:bg-emerald-900/30 rounded-4xl rotate-12 flex items-center justify-center mx-auto mb-6 text-emerald-600 dark:text-emerald-400 shadow-inner">
        <i class="fa-regular fa-comment-dots text-4xl -rotate-12"></i>
    </div>
    <h3 class="text-2xl font-bold text-slate-900 dark:text-white mb-2">No reviews yet</h3>
    <p class="text-slate-500 dark:text-slate-400 font-medium">Be the first to share your thoughts on this product.
    </p>
</div>